// colors
$light-lines: #d0d0d0;
$light: #d0d0d0;
$medium: #666;
$dark: #333;
$tan: #DEB887;
$blue: #00ddff;

//breakpoint sizes
$break-small: 18.75em;
$break-medium: 46.875em;

//fonts
$font-body: Arial, Helvetica, sans-serif;
$font-header: 'Lora', serif;
