// imports
@import "resets.scss", "variables.scss";
    

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@mixin breakpoints($break){
    @if $break == small {
        @media (min-width: $break-small) {
            
            padding: 1em;
            
            img {
                width: 12.5em;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            h1 :is(a:link, a:visited, a:hover, a:active, a:focus) {
                font-size: 2em;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            body > div {
                display: grid;
                grid-template-rows: auto 1fr;
                margin: 1em;
            }

            figure {
                padding: 15px 0 15px 0;
            }

            li :is(a:link, a:visited, a:hover, a:active, a:focus) {
                font-size: 1.35em;  
            }

            ul {
                list-style: none;
                border-style: solid;
                border-color: $light-lines;
                border-width: 1px 0 1px 0; 
                /* top, right, bottom and left */
            }

            li {
                padding: 8px;
            }

            .post-date {
                text-align: right;
                font-size: 1.35em;
            }

            :is(.post-content, .post-date) {
                padding-top: 40px;
                padding-bottom: 10px;
                border-style: solid;
                border-color: $light-lines;
                border-width: 0 0 1px 0; 
                /* top, right, bottom and left */
            } 

            header {
                text-align: center;
            }
        }
    }
    @if $break == medium {
        @media (min-width: $break-medium) {
            nav {
                font-size: 1.3em; 
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }

            .post-date {
                text-align: right;
                font-size: 1.4em;
                grid-column: 1;
                border-style: solid;
                border-color: $light-lines;
                border-width: 0 1px 0 0;
                padding-right: 20px; 
                /* top, right, bottom and left */
            }

            .post-content {
                grid-column: 2;
                padding: 10px;
                margin-top: 10px;
            }

            article {
                display: grid;
                grid-template-columns: 25% auto ;
            }
        }
    }
}

body {
    font-family: $font-body;
    color: $dark;
    
    @include breakpoints(small) ;
    @include breakpoints(medium) ;
}

/* ====== h1, h2 and Li ====== */
:is(h1, h2, li) :where(a:link, a:visited, a:hover, a:active, a:focus) {
    text-decoration: none;
    font-family: $font-header;
}

h1 :is(a:link, a:visited, a:hover, a:active, a:focus) {
    color: $dark;
}

h2 :is(a:link, a:visited, a:hover, a:active, a:focus) {
    color: $medium;
}

li {
    :is(a:link, a:visited) {
        color: $medium; 
    }
    :is(a:hover){
        color: $blue;
    }
    :is(a:active, a:focus){
        color: $tan;
    }
}

:is(p) {
    :where(a:link, a:visited, a:active, a:focus) {
        color: $medium;
        text-decoration: none;
    }
    :where(a:hover) {
        color: $blue;
    }
}